<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <parameter name="squadName" value="essential-test"/>
    <test name="Base Test">
        <classes>
            <class name="runners.EssentialTestRunner"/>
        </classes>
    </test>
</suite>